/* body{
    text-align: center;
}

section{
    margin-top: 5rem;
}


div{
    margin-top: 30px;
}


input{
    height: 20px;
    width: 16rem;
    border-radius:10px;
    border:solid 1px;
    text-align: center;
}

button{
    height: 35px;
    width:8rem;
    border-radius:5rem;
    border:solid 1px;
}

button:hover{
    background-color:red;
    color: white;
}


 */
