<!DOCTYPE html>
<html lang="en">
  <head>
    {%include '/components/header.html'%}
    <title>Compras</title>
  </head>
  <body>
    <!-- CONTENT -->
    {% include '/components/menu.html' %}

    <section id="content">
      <!-- NAVBAR -->
      {% include '/components/perfil.html' %}

      <main>
        {% include '/components/formCarritoCompra.html' %} {% include
        '/components/formagregarCompra.html' %} {% include
        '/components/formcompraver.html' %}

        <div class="head-title">
          <div class="left">
            <h1>Generales</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Generales</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Compras</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="box-info">
          <li>
            <i class="bx bxs-calendar-check"></i>
            <span class="text">
              <h3>100</h3>
              <p class="colorGreen">Compras Realizadas</p>
            </span>
          </li>
          <li>
            <i class="bx bxs-group"></i>
            <span class="text">
              <h3>2</h3>
              <p class="colorRed">Compras En Procesos</p>
            </span>
          </li>
          <li>
            <i class="bx bxs-dollar-circle"></i>
            <span class="text">
              <h3>400</h3>
              <p class="colorBlue">Total Productos</p>
            </span>
          </li>
        </ul>

        <div class="tablePrincipal tableProductoxCompra">
          <div class="header">
            <h1><i class="fas fa-list"></i> Realizar Compra A Proveedor</h1>
          </div>
          <table id="datatable">
            <thead>
              <tr>
                <th></th>
                <th>id</th>
                <th>No</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Proveedor</th>
                <th>Categoria</th>
                <th>idproveedor</th>
                <th>imagen</th>
                <th>descripcion</th>
              </tr>
            </thead>
            <tbody>
              {% for tb in tablePro %}

              <tr>
                <td>{{tb.id}}</td>
                <td>{{loop.index}}</td>
                <td>{{tb.nombre}}</td>
                <td>{{tb.precioVenta}}</td>
                <td>{{tb.cantidad}}</td>
                <td>{{tb.nombreProveedor}}</td>
                <td>{{tb.nombreCategoria}}</td>
                <td>{{tb.proveedorid}}</td>
                <td>{{tb.imagen}}</td>
                <td>{{tb.descripcion}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>

        <div class="tablePrincipal">
          <div class="header">
            <h1><i class="fas fa-list"></i>Compras</h1>
          </div>
          <table id="tableCompras" class="display row-border">
            <thead>
              <tr>
                <th style="display: none">id</th>
                <th>No</th>
                <th>No. Orden</th>
                <th>Fecha Compra</th>
                <th>Estado</th>
                <th>Proveedor</th>
              </tr>
            </thead>
            <tbody>
              {% for tb in tablecompra %}

              <tr>
                <td style="display: none">{{tb.id}}</td>
                <td>{{loop.index}}</td>
                <td>0{{tb.ordencomPra}}</td>
                <td>{{tb.fechaOrden}}</td>
                <td>{{tb.fechaIngreso}}</td>
                <td>{{tb.proveedor}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </section>

    <script>
      const txtProveedor2 = document.querySelector("#txtproveedorcompra");

      async function DinamicSelect(entrada, url, id, valor) {
        entrada.innerHTML = "";
        await axios
          .get(url)
          .then(function (response) {
            if (response.data && Array.isArray(response.data)) {
              response.data.forEach((item) => {
                const option = document.createElement("option");
                option.value = item[id];
                option.textContent = item[valor];
                entrada.appendChild(option);
              });
            } else {
              console.error("La respuesta no contiene datos válidos.");
            }
          })
          .catch(function (error) {
            console.error("Error al obtener los datos:", error);
          });
      }

      async function pintar() {
        await DinamicSelect(
          txtProveedor2,
          "http://127.0.0.1:8000/verProveedores",
          "id",
          "nombre"
        );
      }
      pintar();
    </script>
    <script src="/static/js/maintableCompras.js"></script>
    {%include '/components/footer.html' %}
  </body>
</html>
