<!DOCTYPE html>
<html lang="en">
  <head>
    {%include '/components/header.html'%}
    <title>Productos</title>
  </head>
  <body>
    <!-- CONTENT -->
    {% include '/components/menu.html' %}

    <section id="content">
      <!-- NAVBAR -->
      {% include '/components/perfil.html' %}

      <main>
        {% include '/components/formularioProductos.html' %}

        <div class="head-title">
          <div class="left">
            <h1>Generales</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Generales</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Productos</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="box-info">
          <li>
            <i class="bx bxs-calendar-check"></i>
            <span class="text">
              <h3>5000</h3>
              <p class="colorGreen">Nuevas Ordenes</p>
            </span>
          </li>
          <li>
            <i class="bx bxs-group"></i>
            <span class="text">
              <h3>2834</h3>
              <p class="colorRed">Vendidos</p>
            </span>
          </li>
          <li>
            <i class="bx bxs-dollar-circle"></i>
            <span class="text">
              <h3>$2543</h3>
              <p class="colorBlue">Total Ganancia</p>
            </span>
          </li>
        </ul>

        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Top Productos</h3>
              <i class="bx bx-search"></i>
              <i class="bx bx-filter"></i>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Total venta</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <img src="{{tableProductos[0].imagen}}" />
                    <p>{{tableProductos[0].nombre}}</p>
                  </td>
                  <td>9997123</td>
                  <td><span class="status pending">Pendiente</span></td>
                </tr>
                <tr>
                  <td>
                    <img src="{{tableProductos[1].imagen}}" />
                    <p>{{tableProductos[1].nombre}}</p>
                  </td>
                  <td>887128</td>
                  <td><span class="status process">En proceso</span></td>
                </tr>
                <tr>
                  <td>
                    <img src="{{tableProductos[2].imagen}}" />
                    <p>{{tableProductos[2].nombre}}</p>
                  </td>
                  <td>98126</td>
                  <td><span class="status pending">Pendiente</span></td>
                </tr>
                <tr>
                  <td>
                    <img src="{{tableProductos[2].imagen}}" />
                    <p>{{tableProductos[2].nombre}}</p>
                  </td>
                  <td>97621</td>
                  <td><span class="status completed">Completado</span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="todo">
            <div class="head">
              <h3>Ultimo producto agregado</h3>
              <i class="bx bx-plus" id="btnAgregarProductos"></i>
              <i class="bx bx-filter"></i>
            </div>
            <div class="top1productos">
              <img src="{{tableProductos[0].imagen}}" alt="" />
            </div>
          </div>
        </div>
        <div class="tablePrincipal">
          <div class="header">
            <h1><i class="fas fa-list"></i> Productos agregadas</h1>
          </div>
          <table id="tableProductos" class="display row-border">
            <thead>
              <tr>
                <th style="display: none">id</th>
                <th style="display: none">desc</th>
                <th style="display: none">proveedor</th>
                <th style="display: none">idcat</th>
                <th>No</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Precio Venta</th>
                <th>imagen</th>
                <th>Fecha Creacion</th>
                <th style="display: none;">paht</th>
              </tr>
            </thead>
            <tbody>
              {% for tb in tableProductos %}
              <tr>
                <td style="display: none">{{ tb.idproducto }}</td>
                <td style="display: none">{{ tb.descripcion }}</td>
                <td style="display: none">{{ tb.proveedorid}}</td>
                <td style="display: none">{{ tb.idcategoria}}</td>
                <td>{{ loop.index }}</td>
                <td>{{ tb.nombre }}</td>
                <td>{{ tb.precio }}</td>
                <td>{{ tb.cantidad }}</td>
                <td>{{ tb.precioventa }}</td>
                <td class="image-cell">
                  <img
                    src="{{tb.imagen}}"
                    alt="Imagen Producto"
                    class="thumbnail"
                  />
                </td>
                <td>{{tb.fechaingreso }}</td>
                <td style="display: none;">{{tb.imagen }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </main>
    </section>
    <script>
      const txtProveedor2 = document.querySelector("#txtProveedor");
      const txtcategoria2 = document.querySelector("#txtcategoria");

      async function DinamicSelect(entrada, url, id, valor) {
        // Limpiar opciones existentes antes de agregar nuevas
        entrada.innerHTML = "";
        await axios
          .get(url)
          .then(function (response) {
            if (response.data && Array.isArray(response.data)) {
              response.data.forEach((item) => {
                const option = document.createElement("option");
                option.value = item[id];
                option.textContent = item[valor];
                entrada.appendChild(option);
              });
            } else {
              console.error("La respuesta no contiene datos válidos.");
            }
          })
          .catch(function (error) {
            console.error("Error al obtener los datos:", error);
          });
      }

      async function pintar() {
        await DinamicSelect(
          txtProveedor2,
          "http://127.0.0.1:8000/verProveedores",
          "id",
          "nombre"
        );

        await DinamicSelect(
          txtcategoria2,
          "http://127.0.0.1:8000/vercategoria",
          "id",
          "categoria"
        );
      }
      pintar();
    </script>
    {%include '/components/footer.html' %}
  </body>
</html>
