<dialog id="modalCompraver">
  <div class="container">
    <div class="info-container" id="InfoCont">
      <br />

      <div class="containerProductoform">
        <div id="btn_cancelarcompraver" class="btn_cancelar">
          <i class="bx bx-x"></i>
        </div>
        <h2 id="titulocarrito">Compras</h2>
        <form
          method="POST"
          action="/productosOperaciones"
          id="formProducto"
          enctype="multipart/form-data"
        >
          <div class="row2">
            <div class="form-group">
              <label for="nombre">Nombre Usuario</label>
              <input
                type="text"
                id="txtnombreCliente"
                name="txtnombreCliente"
                value="{{session['nombres']}}"
                required
                disabled
              />
            </div>

            <div class="form-group">
              <label for="">Proveedor</label>
              <input
                type="text"
                name="txtverproveedor"
                id="txtverproveedor"
                disabled
              />
            </div>
          </div>

          <div class="row2">
            <div class="form-group">
              <label for="nombre">No. Orden</label>
              <input
                type="text"
                id="txtordenno"
                name="txtordenno"
                required
                disabled
              />
            </div>

            <div class="form-group">
              <label for="">Fecha Envio</label>
              <input
                type="text"
                name="txtfechaEnvio"
                id="txtfechaEnvio"
                disabled
              />
            </div>
          </div>

          <div class="form-group">
            <label for="">Estado Compra</label>
            <input type="text" name="txtestado" id="txtestado" disabled />
          </div>

          <div class="form-groupbtn">
            <button
              type="button"
              class="btn"
              name="btnrecibido"
              value="recibido"
              id="btnrecibido"
            >
              <i class="bx bxs-cart-download bx-tada"></i>
              Compra Recibida
            </button>
          </div>

          <div class="tablePrincipal divtablecarrito">
            <table id="tablecarrito" class="display row-border">
              <thead>
                <tr>
                  <th>No</th>
                  <th style="display: none">id</th>
                  <th>Producto</th>
                  <th>Descripcion</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Subtotal</th>
                  <th style="display: none">Imagen</th>
                  <th>Proveedor</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>

            <div
              class="divtotal"
              style="
                width: 100%;
                margin: 10px 0;
                display: flex;
                justify-content: space-around;
                align-items: center;
              "
            >
              <label for="total">Total:</label>
              <input
                style="border: 1px solid gray; border-radius: 4px; padding: 6px"
                type="text"
                id="txttotal"
                name="txttotal"
                disabled
              />
            </div>
          </div>

          <div class="form-groupbtn">
            <button
              type="button"
              class="btn"
              name="btnsalir"
              value="Salir"
              id="btnsalir"
            >
              Salir
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</dialog>
