<!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu Clientes</title>
        <link rel="stylesheet" href="../../static/css/menuClientes.css">
    </head>

    <body>
        <section class="m-clientes">

            <div class="op-clientes">
                <a href="agregarClientes.html">
                    <p>Agregar Cliente</p>
                    <img src="../../static/icon/agregar-usuario.png" >
                </a>
            </div>


            <div class="op-clientes">
                <a href="registroClientes.html">
                    <p>Informacion clientes</p>
                    <img src="../../static/icon/lista-usuario.png">
                </a>
            </div>
        </section>    
    </body>
</html>