<!-- SIDEBAR -->
<section id="sidebar">
  <a href="#" class="brand">
    <i class="bx bx-calculator"></i>
     
    <span class="text marca"> INVENTA</span>
  </a>
  <ul class="side-menu top">
    <li title="Dashboard" id="dashboard">
      <a href="/">
        <i class="bx bxs-dashboard"></i>
        <span class="text">Dashboard</span>
      </a>
    </li>
    <li class="opcion" title="Generales" id="generales">
      <a href="#">
        <i class="bx bxs-doughnut-chart"></i>
        Generales
        <!-- BUSCAR ESTE ELEMENTO PARA LUEGO REUTILIZARLO -->
        <b class="desplegar">▼</b>
      </a>

      <ul class="submenu" id="generales">
        <li title="Productos" id="Productos">
          <a href="/productos">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Productos</span>
          </a>
        </li>
        <li title="Existencias" id="existencias">
          <a href="#">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Existencias</span>
          </a>
        </li>
        <li title="Proveedores" id="proveedores">
          <a href="#">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Proveedores</span>
          </a>
        </li>
        <li title="Responsables" id="responsables">
          <a href="#">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Responsables</span>
          </a>
        </li>
      </ul>
    </li>
 
    <li title="Facturas compras" id="facturas">
      <a href="#">
        <i class="bx bx-clipboard"></i>
        <span class="text">Facturas de compras</span>
      </a>
    </li>

    <li title="Recibos compras" id="recibos">
      <a href="#">
        <i class="bx bxs-file-doc"></i>
        <span class="text">Recibos de compras</span>
      </a>
    </li>

    <li title="Consultas" id="consultas">
      <a href="#">
        <i class="bx bxs-message-dots"></i>
        <span class="text">Consultas</span>
      </a>
    </li>
    <li title="Reportes">
      <a class="opcion" href="#" id="reportes">
        <i class="bx bxs-report bx-flip-horizontal"></i>
        Reporte <b class="abrir">▼</b> <b class="cerrar">▲</b>
      </a>
      <ul class="submenu" id="documentos">
        <li title="Documentos" id="doc">
          <a href="#">
            <i class="bx bxs-message-dots"></i>
            <span class="text">Documentos</span>
          </a>
        </li>
      </ul>
    </li>

    <li title="Utilitarios" id="utilitarios">
      <a href="#">
        <i class="bx bxs-calendar-minus"></i>
        <span class="text">Utilitarios</span>
      </a>
    </li>

    <li title="Configuracion" id="configuracion">
      <a href="#">
        <i class="bx bxs-adjust"></i>
        <span class="text">Configuracion</span>
      </a>
    </li>
    <li title="Cerrar sesión">
      <a href="#" class="logout">
        <i class="bx bx-log-out-circle"></i>
        <span class="text">Cerrar sesión</span>
      </a>
    </li>
  </ul>
</section>
