<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Clientes</title>
        <link rel="stylesheet" href="../../static/css/clientes.css">
    </head>

    <body>
        <table class="clientes">

            <h2>Listado de clientes</h2>

            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Correo Electronico</th>
                <th>Direccion</th>
                <th>Funciones</th>
            </tr>

            <tr>
                <td>Jose</td>
                <td>Perez</td>
                <td>12341234</td>
                <td>Jperez@gmail.com</td>
                <td> 7ta calle ,2da avenida casa no 18,Sacatepequez La Antigua Guatemala</td>

                <td class="img">
                    <img src="../../static/icon/editar.png">
                    <img src="../../static/icon/eliminar.png">
                    <img src="../../static/icon/recargar.png">
                </td>
            </tr>
        </table>    
    </body>
</html>