<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <section class="registrarse">

            <div class="contenido">
                <input type="text" name="nombre" id="nombre" placeholder="Nombres">
            </div>

            <div class="contenido">
                <input type="text" name="apellido" id="apellido" placeholder="Apellidos">
            </div>

            <div class="contenido">
                <input type="text" name="direccion" id="direccion" placeholder="Direccion">
            </div>

            <div class="contenido">
                <input type="number" name="telefono" id="telefono" placeholder="Numero de telefono">
            </div>

            <div class="contenido">
                <input type="email" name="correo" id="correo" placeholder="Correo electronico">
            </div>

            <div class="contenido">
                <input type="password" name="password" id="password" placeholder="Contraseña">
            </div>

            <div class="contenido">
                <input type="password" name="c-password" id="c-password" placeholder="Confirmacion de Contraseña">
            </div>

            <div class="contenido">
                <a href="confirmacionRegistro.html">
                    <button type="button">Registrarse</button>
                </a>
            </div>

        </section>
    </body>
</html>